/* STYLOS HTML ====================================================================*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #051828;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
}

/* HEADER ==================================================================== */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom, #000000 10%, #051828 100%);
    padding: 10px 20px;
    position: relative;
}

/* Logo */
header img {
    width: 110px;
    height: 63px;
}

/* Menú de navegación */
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

header nav .nav-icon {
    display: none;
}

header nav button {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border: none;
    background: none;
    cursor: pointer;
}

header nav button::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #ffffff;
    display: block;
    transition: 0.5s;
}

header nav button:hover::after {
    width: 100%;
}

/* Perfil */
header .profile-icon {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 5px;
    position: relative;
    padding: 5px;
    padding-left: 20px;
    cursor: pointer;
}

header .profile-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

header .profile-icon:hover img {
    transform: scale(1.1);
}

header #profile-name {
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-align: center; 
}


/* Menú desplegable del perfil */
header #profile-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 2px solid #007bff3b;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    z-index: 100;
    padding: 15px;
    width: 200px;
    transform: translateY(10px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

header .profile-icon:hover #profile-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

header #profile-menu a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: #000000;
    margin-bottom: 8px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header #profile-menu a:hover {
    background-color: #007bffc0;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* ======== MENÚ RESPONSIVO ======== */
header .hamburger-menu {
    display: none;
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
}

header .mobile-menu {
    z-index: 20;
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    transition: left 0.3s ease;
}

header .mobile-menu.open {
    left: 0;
}

header .mobile-menu a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}

header .close-menu {
    align-self: flex-end;
    font-size: 30px;
    background: none;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}


/* ======== RESPONSIVE ======== */

@media (max-width: 1000px) and (min-width: 575px) {
    header nav button {
        display: none;
    }

    header nav .nav-icon {
        display: inline-block;
        width: 40px; 
        height: 40px;
        background: none;
        border: none;
        cursor: pointer;
    }

    header nav .nav-icon img {
        width: 24px; 
        height: 24px;
        filter: invert(1); 
    }
}


@media (max-width: 575px) {
    header nav {
        display: none;
    }
    header .hamburger-menu {
        display: block;
    }
}


/* MAIN ==================================================================== */
main {
    flex: 1;
    margin-left: 40px;
    margin-right: 40px;
}

@media (max-width: 575px){
    main {
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* CUERPO ==================================================================== */

.cuerpo{
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background: transparent;
    backdrop-filter: blur(20px); 
    border: 1px solid#00aaff;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* DETALLE PELÍCULA */
#detalle-pelicula {
    display: flex;
    flex-wrap: wrap;  /* Hace que sea responsive */
    gap: 20px;
}

/* IZQUIERDA - IMAGEN, BOTONES */
#pelicula-izquierda {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

#pelicula-imagen {
    width: 100%;
    border-radius: 10px;
}

.favorito-btn {
    background: #ffd900;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: background 0.3s, color 0.3s;
}

/* Regla más específica para el botón activo */
.favorito-btn.favorito-activo {
    background: #f85a5a;
    color: #000000;
}

.favorito-btn:hover {
    background: #bea200;
}

.estado-select {
    width: 100%;
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 8px;
    background: linear-gradient(135deg, rgb(140, 255, 74), rgb(100, 204, 56));
    color: #051828;
    font-size: 16px;
    border: 2px solid #66bb6a; /* Borde sutil */
    transition: all 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.estado-select:focus {
    outline: none; /* Elimina el borde por defecto */
    border-color: #388e3c; /* Cambia el color del borde al hacer foco */
    box-shadow: 0 0 5px rgba(56, 142, 60, 0.7); /* Sombra más notoria cuando está seleccionado */
}

.estado-select option {
    background-color: #fff; /* Fondo blanco para las opciones */
    padding: 10px;
}

.estado-select option:hover {
    background-color: #f1f1f1; /* Color cuando pasas el ratón por encima de una opción */
}

/* DERECHA - INFORMACIÓN */
#pelicula-derecha {
    flex: 1;
    min-width: 300px;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

#pelicula-sinopsis {
    font-size: 16px;
    margin-bottom: 15px;
}

/* INFO + TRAILER */
#pelicula-trailer {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

#informacion-pelicula {
    flex: 1;
}

#pelicula-trailer iframe {
    width: 100%; 
    height: 100%;
    border-radius: 10px;
}



/* FOOTER ==================================================================== */
footer {
    margin-top: auto;
    background: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 6vw;
    padding-left: 6vw;
}

.footer-logo img {
    width: 120px; 
}

.footer-links {
    display: flex;
    gap: 15px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #f39c12; 
}

.footer-bottom {
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
    border-top: 1px solid #444;
    padding-top: 10px;
}

@media (max-width: 600px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    .footer-logo img {
        width: 100px;
        margin-bottom: 10px;
    }

    .footer-links {
        flex-direction: column;
        gap: 10px;
    }

    .footer-links a {
        font-size: 16px;
    }
}
