body{
    background-color: rgb(19, 19, 46);
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(to bottom, rgb(11, 11, 77) 70%, rgba(19, 19, 46) 100%);
    padding: 10px;
}

header img {
    margin-left: 50px;
    width: 110px;
    height: 63px;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

nav .nav-icon {
    display: none;
}

nav button {
    display: inline-block;
}

header nav button#home, header nav button#generos, header nav button#buscar, header nav button#home-icon, header nav button#peliculas-icon, header nav button#buscar-icon {
    color: white;
    text-decoration: none;
    font-size: 18px;
    border: none;
    background: none;
}

header nav button#home::before, header nav button#generos::before, header nav button#buscar::before, header nav button#home-icon::before, header nav button#peliculas-icon::before, header nav button#buscar-icon::before {
    margin-left: auto;
}

header nav button#home::after, header nav button#generos::after, header nav button#buscar::after, header nav button#home-icon::after, header nav button#peliculas-icon::after, header nav button#buscar-icon::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #ffffff;
    display: block;
    transition: 0.5s;
}

header nav button#home:hover::after, header nav button#generos:hover::after, header nav button#buscar:hover::after, header nav button#home-icon:hover:after, header nav button#peliculas-icon:hover::after, header nav button#buscar-icon:hover::after {
    width: 100%;
}

header .profile-icon {
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    position: relative;
    padding: 5px;
    padding-left: 20px;
}

#profile-name {
    color: white;
}

header .profile-icon:hover {
    background-color: #131313;
    border-radius: 10px 10px 0px 0px;
}

header .profile-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block; 
    margin: 0 auto; 
}

.profile-icon {
    position: relative;
}

.profile-menu {
    display: none;
    position: absolute;
    top: 100%; 
    right: 0;
    background-color: #131313;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.profile-menu button {
    display: block;
    width: 100%;
    padding: 15px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
    color: white;
}

.profile-icon:hover .profile-menu {
    display: block;
}




@media (max-width: 1000px) {
    nav {
    display: flex;
    justify-content: center;
    align-items: center;
    }

    nav button {
        display: none;
    }

    nav .nav-icon {
        display: inline-block;
        width: 40px;
        height: 30px;
        margin: 0 10px;
    }

    nav .nav-icon img {
        width: 100%;
        height: 100%;
        filter: invert(1);
        margin-left: 0;
    }
}

main {
    padding: 20px;
    color: white;
}

.contenedor-botones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#generos-select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}

#ordenar-ano {
    padding: 10px 20px;
    background-color: #1f1f1f;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#ordenar-ano:hover {
    background-color: #333;
}

#orden-indicador {
    margin-left: 10px;
}

#peliculas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.pelicula-card {
    background-color: #2c2c2c;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pelicula-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

.pelicula-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.pelicula-card h3 {
    color: white;
    margin-top: 10px;
}

.pelicula-card p {
    color: #aaa;
    font-size: 14px;
    margin: 10px 0;
}

.pelicula-card a {
    color: #f4a261;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.pelicula-card a:hover {
    color: #e76f51;
}

#detalle-pelicula {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    background-color: #2c2c2c;
    border-radius: 10px;
    padding: 20px;
    color: white;
    max-width: 900px;
    margin: auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

#pelicula-imagen {
    width: 280px; 
    height: auto;
    border-radius: 8px;
}


#informacion-pelicula {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#pelicula-titulo {
    font-size: 24px;
    margin-bottom: 10px;
}

#pelicula-sinopsis {
    font-size: 16px;
    margin-bottom: 10px;
}

#pelicula-año, #pelicula-director {
    font-size: 16px;
    margin-bottom: 5px;
}

#pelicula-trailer {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #1f1f1f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    width: fit-content;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

#pelicula-trailer:hover {
    background-color: #333;
}

/* Estilos para el botón Favorito */
#favorito {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #6c757d; /* Color inicial (gris) */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#favorito:hover {
    background-color: #f4a261; /* Color al pasar el mouse (amarillo) */
    transform: scale(1.05); /* Leve aumento de tamaño en hover */
}

/* Cuando el botón está marcado como Favorito */
#favorito.favorito {
    background-color: #f4a261; /* Color amarillo cuando es favorito */
}

#favorito.favorito:hover {
    background-color: #e76f51; /* Amarillo oscuro en hover si es favorito */
}


/* Estilos para el campo de Estado Pendiente */
label[for="pendiente"] {
    color: white;
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

#pendiente {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: white;
    width: 100%;
    max-width: 200px;
    cursor: pointer;
}

#pendiente:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(244, 166, 97, 0.8);
}

#pendiente option {
    background-color: #333;
    color: white;
}

#pendiente option:hover {
    background-color: #444;
}
