/* STYLOS HTML ====================================================================*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #051828;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
}

/* HEADER ==================================================================== */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom, #000000 10%, #051828 100%);
    padding: 10px 20px;
    position: relative;
}

/* Logo */
header img {
    width: 110px;
    height: 63px;
    cursor: pointer;
}

/* Menú de navegación */
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

header nav .nav-icon {
    display: none;
}

header nav button {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border: none;
    background: none;
    cursor: pointer;
}

header nav button::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #ffffff;
    display: block;
    transition: 0.5s;
}

header nav button:hover::after {
    width: 100%;
}

/* Perfil */
header .profile-icon {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 5px;
    position: relative;
    padding: 5px;
    padding-left: 20px;
    cursor: pointer;
}

header .profile-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

header .profile-icon:hover img {
    transform: scale(1.1);
}

header #profile-name {
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-align: center; 
}


/* Menú desplegable del perfil */
header #profile-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 2px solid #007bff3b;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    z-index: 100;
    padding: 15px;
    width: 200px;
    transform: translateY(10px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

header .profile-icon:hover #profile-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

header #profile-menu a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: #000000;
    margin-bottom: 8px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header #profile-menu a:hover {
    background-color: #007bffc0;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* ======== MENÚ RESPONSIVO ======== */
header .hamburger-menu {
    display: none;
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
}

header .mobile-menu {
    z-index: 20;
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    transition: left 0.3s ease;
}

header .mobile-menu.open {
    left: 0;
}

header .mobile-menu a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}

header .close-menu {
    align-self: flex-end;
    font-size: 30px;
    background: none;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}


/* ======== RESPONSIVE ======== */

@media (max-width: 1000px) and (min-width: 575px) {
    header nav button {
        display: none;
    }

    header nav .nav-icon {
        display: inline-block;
        width: 40px; 
        height: 40px;
        background: none;
        border: none;
        cursor: pointer;
    }

    header nav .nav-icon img {
        width: 24px; 
        height: 24px;
        filter: invert(1); 
    }
}


@media (max-width: 575px) {
    header nav {
        display: none;
    }
    header .hamburger-menu {
        display: block;
    }
}


/* MAIN ==================================================================== */
main {
    flex: 1;
    margin-left: 40px;
    margin-right: 40px;
}

@media (max-width: 575px){
    main {
        margin-left: 10px;
        margin-right: 10px;
    }
}


/* CUERPO ==================================================================== */

.carousel#carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgb(0, 0, 0), 0 20px 40px rgb(0, 0, 0); 
    border: 2px solid transparent;
    margin-bottom: 40px;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.carousel-item {
    flex: 0 0 100%;
    height: 33vw;
}

.carousel-item img{
    width: 100%;
    height: 100%;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    
}

.carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    margin: 10px;
}

.carousel-indicators {
    margin-top: 6px;
    display: flex;
    justify-content: center;
}

.indicator {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #9c9c9c;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
}

.indicator.active {
    background-color: #ffffff;
}

@media (max-width: 1000px) {}

/* ************************ Demografias **************************** */

#demografias {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}

#demografias .demografias_targeta {
    background-color: rgb(8, 8, 20);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 10px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

#demografias .demografias_targeta:hover {
    border: 1px solid #ffffff;
    transform: scale(1.06);
}

#demografias img {
    width: 50%;
    height: auto;
    align-items: center;
}

@media (max-width: 575px) {

    #demografias {
        display: grid;
        margin-bottom: 0px;
        grid-template-columns: repeat(2, 1fr);
    }

    #demografias .demografias_targeta{
        width: 90%;
    }

    #demografias img {
        width: 70%;
        height: auto;
        align-items: center;
    }

}

/* ************************ Tarjeta **************************** */
h5 {
    color: white;
    font-size: 24px;
    margin-left: 10px;
}

.genero-container {
    overflow: hidden;  
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: center;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: fit-content;  
}

.peliculas_targeta {
    width: 200px; 
    height: 400px;
    margin: 0 10px;
    flex-shrink: 0;  
    transition: transform 0.3s ease;
}

.peliculas_targeta img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.peliculas_targeta:hover img {
    filter: brightness(50%); 
}

.peliculas_targeta p {
    color: white;
    font-weight: bold;
    margin-top: 5px;
}

.carousel-button {
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    margin: 10px;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}


/* FOOTER ==================================================================== */
footer {
    margin-top: auto;
    background: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 6vw;
    padding-left: 6vw;
}

.footer-logo img {
    width: 120px; 
}

.footer-links {
    display: flex;
    gap: 15px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #f39c12; 
}

.footer-bottom {
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
    border-top: 1px solid #444;
    padding-top: 10px;
}

@media (max-width: 600px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    .footer-logo img {
        width: 100px;
        margin-bottom: 10px;
    }

    .footer-links {
        flex-direction: column;
        gap: 10px;
    }

    .footer-links a {
        font-size: 16px;
    }
}
