body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, #056877, #051828);

    background-size: cover;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(5px);
    z-index: -1;
}

.profiles-container {
    text-align: center;
    z-index: 1;
}

.profiles-container h2 {
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 35px;
}

.profiles-container button {
    background-color: transparent;
    backdrop-filter: blur(10px); 
    border: 2px solid #c5c5c5;
    color: #c5c5c5;
    font-weight: bold;
    padding: 10px;
    transition: 0.3s ease-in-out;
}

.profiles-container button:hover {
    border: 2px solid #ffffff;
    color: #ffffff;
}

#profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 4px solid #ffffff;
    transition: 0.3s ease-in-out;
}

.profile span {
    color: #fff;
    font-size: 16px;
}

.profile p {
    color: #fff;
    font-size: 22px;
    transition: 0.3s ease-in-out;
    font-weight: bold;
}

.profile:hover img {
    transform: scale(1.1);
    border: 4px solid #051828;
}

.profile:hover p {
    font-weight: bold;
}